.DS_Store
/build
/dist
/*.so
/*.dylib
/*.dll
assets
documentation/patches/sn-vcv-dev.vcv
documentation/patches/sn-dev.vcv
documentation/patches/archive
documentation/midi
documentation/aliasing/workfiles
runtime

